.contents {
  text-align: center;
}

#chat {
  text-align: left;
  background: #f1f1f1;
  width: 800px;
  min-height: 300px;
  padding: 20px;
  margin: 20px auto;
  font-size: 30px;
}

#text {
  width: 300px;
  height: 30px;
}